* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:18px;
}

body {
    width:100%;
    min-height: 100vh;
    background-color:rgb(36, 119, 243);
}

.cabeçalho{
    background-color:white;
    border-bottom-style:solid;
    border-bottom-color:gray;
}


/********************************cabeçalho2********************************/
.opcoes{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:0.1cm;
    padding-top:0.5cm;
    padding-left: 0.5cm;
    width:100%;
}
.opcoes nav a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.45cm;
    padding-right:0.4cm;
    color:black;
}

.opcoes nav a:hover{/*alterar a cor da "menu" quando o mouse passar*/
    color:rgb(45, 219, 250);
}

.linha1{
    border-top:1px solid gray;
}
/********************************cabeçalho1********************************/
.midias{
    display:flex;
    margin-top:0.1cm;
    padding-top:0.2cm;
    padding-right: 2.5cm;
    padding-left: 2.5cm;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 2cm;
}
/*---------------------Parametros logo da Facens---------------------*/
.facenslogo img{
    height: 1.7rem;
}
/*---------------------Parametros caixa de pesquisa---------------------*/
#caixapesquisa{
    background-color:rgb(226, 226, 226);
    display: flex;
    align-items: center;
    width: 15cm;
    height: 1.3cm;
    border-radius: 5%;
}

#caixapesquisa img{
    width:0.7cm;
    height:0.7cm;
    margin-right: 0.3cm;
}
/*---------------------Parametros texto de pesquisa---------------------*/
#txBusca{
    float:left;
    color:gray;
    background-color:transparent;
    padding-left: 5px;
    border:none;
    height:1.3cm;
    width:17cm;
}
/*---------------------Disposicao dos logos das midias---------------------*/
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    padding-right: 0.5cm;
}
.instalogo img{
    height: 2rem;
}
.facebooklogo img{
    height: 1.5rem;
}
.youtubelogo img{
    height: 1.8rem;
}
.linkedinlogo img{
    height: 1.4rem;
}
/*---------------------Parametro das bandeiras---------------------*/
#bandeiras{
    display: flex;
    justify-content: center;
}
.inglaterra img{
    width: 1.2cm;
    margin-right:0.3cm;
}
.brasil img{
    height: 0.6cm;
    width: 1cm;
}

/********************************Tipos de cursos********************************/
.botoes{
    display: flex;
    justify-content: flex-end;
    border:none;
    font-size:12px;
    background-color: white;
    width: 100%;
    height: 3cm;

    cursor:pointer; /*fazer qcom que quando passar o cursos, mudar de estado*/
    transition:.3s ease all;/*3mmili segundos para transição*/
}
/*---------------------texto cursos---------------------*/
.text{
    font-size: 0.4cm;
    padding-top:0.9cm;
    text-align: center;
    color: lightgray;
}
/*---------------------graduação---------------------*/
.botaograduacao{
    background-color: white;
    width:20%;
    color:rgb(52, 242, 248);
    text-align: center;
    border-style: solid;
    border-color:lightgray;
    border-width: 0.01cm;
    cursor:pointer; /*fazer qcom que quando passar o cursos, mudar de estado*/
    transition:.3s ease all;/*3mmili segundos para transição*/
}
.graduacao{
    font-weight: bold;
    font-size: 0.6cm;
}
/*---------------------pos graudação---------------------*/
.botaopos{
    background-color: white;
    width:20%;
    color:blue;
    text-align: center;
    border-style: solid;
    border-color:lightgray;
    border-width: 0.01cm;
    cursor:pointer; /*fazer qcom que quando passar o cursos, mudar de estado*/
    transition:.3s ease all;/*3mmili segundos para transição*/
}
.pos{
    font-weight: bold;
    font-size: 0.6cm;
}
/*---------------------ead---------------------*/
.botaoead{
    background-color: white;
    width:20%;
    text-align: center;
    font-weight: bold;
    color:rgb(250, 25, 182);
    font-size: 0.6cm;
    border-style: solid;
    border-color:lightgray;
    border-width: 0.01cm;
    cursor:pointer; /*fazer qcom que quando passar o cursos, mudar de estado*/
    transition:.3s ease all;/*3mmili segundos para transição*/
}
/*---------------------extensao---------------------*/
.botaoextensao{
    background-color:white;
    width:20%;
    text-align: center;
    font-weight: bold;
    color:green;
    font-size: 0.6cm;
    border-style: solid;
    border-color:lightgray;
    border-width: 0.01cm;
    cursor:pointer; /*fazer qcom que quando passar o cursos, mudar de estado*/
    transition:.3s ease all;/*3mmili segundos para transição*/
}


.botaograduacao:hover{
    background-color: rgb(52, 242, 248);/*o funco vira branco*/
    color:white;/*letra fica preta*/
}
.botaopos:hover{
    background-color: blue;/*o funco vira branco*/
    color:white;/*letra fica preta*/
}
.botaoead:hover{
    background-color: rgb(250, 25, 182);/*o funco vira branco*/
    color:white;/*letra fica preta*/
}
.botaoextensao:hover{
    background-color:green;/*o funco vira branco*/
    color:white;/*letra fica preta*/
}

.outdoor{
    padding-top:5px;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}
